<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IMGUI</title>
</head>
<style>
html, body, canvas { width: 100%; height:100%; margin: 0; padding: 0; overflow: hidden; cursor: default; }
</style>
<body>
    <canvas id="view"></canvas>
    <input type="file" name="img" id="img" style="position: fixed; top: 0; left: 0;">
</body>
<script src="./main.bundle.js"></script>
</html>